
<div class="uk-height-viewport" style="margin-top:-40px; margin-bottom:-40px;">
  <div style="padding-top:40px; padding-right: 20px; padding-left: 20px;">
  
    <div class="uk-grid uk-margin-top" data-uk-grid-margin> 
      <div class="uk-width-1-2 uk-text-center">
        <div class="uk-panel" style = "border: 2px solid #ddd; margin: 5px; padding: 10px" >
          <div class="uk-text-large uk-text-bold uk-margin-bottom">Sales Organization Sales</div>
          <div class="uk-container-center" style="width:70%;">
            <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" 
                chart-series="series" chart-click="onClick" >
            </canvas>
            
          </div>
        </div>
      </div>

      <div class="uk-width-1-2 uk-text-center">
        <div class="uk-panel" style = "border: 2px solid #ddd; margin: 5px; padding: 10px" >
          <div class="uk-text-large uk-text-bold uk-margin-bottom">Division Sales</div>
          <div class="uk-container-center" style="width:70%;">
            <canvas id="pie" class="chart chart-pie"
            chart-data="data" chart-labels="labels" chart-options="options">
          </canvas> 
          </div>
        </div>
      </div> 

      <div class="uk-width-1-2 uk-text-center">
        <div class="uk-panel" style = "border: 2px solid #ddd; margin:5px; padding: 10px" >
          <div class="uk-text-large uk-text-bold uk-margin-bottom">Compare with Yesterday</div>
          <div class="uk-container-center uk-container">
              <div class="uk-grid">
                <div class="uk-width-1-2">
                  <div class="uk-block uk-block-muted uk-text-left uk-text-bold" style = "border: 2px solid #aaa; margin: 5px; padding: 10px 20px" >
                    Date : 28-09-2016 <br>
                    Total Orders : 145 <br>
                    Total Sales Value : 145 <br>
                    Net Value : <span class="uk-text-success">{{145*18 | currency}} </span><br> 
                  </div>
                </div>
                <div class="uk-width-1-2">
                  <div class="uk-block uk-block-muted uk-text-left uk-text-bold" style = "border: 2px solid #aaa; margin: 5px; padding: 10px 20px" >
                    Date : 29-09-2016 <br>
                    Total Orders : 153 <br> 
                    Total Sales Value : 153 <br>
                    Net Value : <span class="uk-text-success">{{153*18 | currency}} </span><br>
                  </div>                  
                </div>
              </div>
          </div>
        </div>
      </div> 


    </div>
  </div>
</div>
