<ng-map center="52.4784871, 13.3108898" 
        zoom="3" 
        tilt="60"  
        class="uk-height-viewport" 
        style="margin-top: -40px; padding-top: 40px; padding-bottom: 40px; margin-bottom: -40px;">

          <marker id='{{x.BP}}' ng-repeat="x in positions | filter : fill.qty" 
                  position="[{{x.LONG}}, {{x.LAT}}]" title="'{{x.BP}}'"
                  icon="../images/mapMarker30.png" on-click="showDetail(x)"
                  data-uk-modal="{target:'#item'}" > 
          </marker> 

           
</ng-map>

<div style="position: fixed; top:40px; right: 0px;" class="uk-form">
  <input type="text" class="uk-form-row" ng-model = "fill.qty" placeholder="Filter by Quantity">
</div>


<div id="item" class="uk-modal">
    <div class="uk-modal-dialog">
      <a class="uk-modal-close uk-close"></a>

      <div class="uk-text-large uk-text-bold">Business Partner - {{itemData.BP}} <hr></div>
      <!-- <div class="uk-margin-large-top uk-margin-large-bottom"> -->
        
        <div class="uk-panel uk-text-bold">
          Order Number : {{itemData.VBELN}}  <br>
          Order Description : {{itemData.DESC}}  <br>
          Created On : {{itemData.ERDAT}}  <br>  
          Total Quantity : {{itemData.QTY}} <br>
          Net Value  : {{itemData.NETVALUE}} <br>

          <hr>


        </div>

      <!-- </div> -->
      
      <div class="uk-modal-footer">
        <div class="uk-grid">
          <div class="uk-width-1-2 uk-text-left">
            <span class="uk-text-muted uk-text-small">Total Orders from same BP : {{itemData.ORD}} </span>
          </div>
          <div class="uk-width-1-2 uk-text-right ">
            <button type="button" class="uk-button uk-button-success uk-modal-close">Close</button>
          </div>
        </div> 
        
      </div>
    </div>
</div>