<div class="uk-height-viewport" style="margin-top:-40px; margin-bottom:-40px; padding: 15px;">

  <ul class="uk-list uk-list-line uk-list-striped uk-margin-topORDER" style="padding-top: 40px;">
    <li>
      <div class="uk-grid uk-text-bold uk-text-center">
        <div class="uk-width-1-5">ORDER</div>
        <div class="uk-width-1-5">BP</div>
        <div class="uk-width-1-5">DATE</div>
        <div class="uk-width-1-5">TIME</div> 
        <div class="uk-width-1-5 uk-text-right">NET VALUE</div>
      </div>
    </li>
    <li ng-repeat="x in positions | limitTo: 12">
      <div class="uk-grid uk-text-center">
        <div class="uk-width-1-5">{{x.VBELN}}</div>
        <div class="uk-width-1-5">{{x.BP}}</div>
        <div class="uk-width-1-5">{{x.ERDAT}}</div>
        <div class="uk-width-1-5">{{x.ERZET}}</div>
        <div class="uk-width-1-5 uk-text-right">{{x.NETVALUE }}</div>
      </div>
    </li>
  </ul>

  <ul class="uk-pagination uk-margin-large-top" data-uk-margin>
      <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
      <li><a href="#"><i class="uk-icon-angle-double-left"></i></a></li>
      <li class="uk-active" ><a href="#">1</a></li>
      <li><span>...</span></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li><span>7</span></li>
      <li><a href="#">8</a></li>
      <li><a href="#">9</a></li>
      <li><a href="#">10</a></li>
      <li><a href="#">9</a></li>
      <li><a href="#">10</a></li> 
      <li><a href="#"><i class="uk-icon-angle-double-right"></i></a></li>
      <li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
  </ul>

  <!-- <ul class="uk-pagination uk-pagination-left">
    <li>1</li>
    <li>2</li>
    <li>3</li>
  </ul> -->

</div>